
@charset "utf-8";

/*float*/
.clear_after:after{content: ""; display: block; clear: both;}
.left{float: left;}
.right{float: right;}
.ta_l{text-align: left;}
.center{text-align: center;}
.ta_r{text-align: right;}
.inner{width: 1200px; margin: 0 auto;}

/*margin*/
.mg0{margin:0;}

.mb0{margin-bottom:0px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}
.mb11{margin-bottom:11px;}
.mb12{margin-bottom:12px;}
.mb13{margin-bottom:13px;}
.mb14{margin-bottom:14px;}
.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mb17{margin-bottom:17px;}
.mb18{margin-bottom:18px;}
.mb19{margin-bottom:19px;}
.mb20{margin-bottom:20px;}
.mb21{margin-bottom:21px;}
.mb22{margin-bottom:22px;}
.mb23{margin-bottom:23px;}
.mb24{margin-bottom:24px;}
.mb25{margin-bottom:25px;}
.mb26{margin-bottom:26px;}
.mb27{margin-bottom:27px;}
.mb28{margin-bottom:28px;}
.mb29{margin-bottom:29px;}
.mb30{margin-bottom:30px;}
.mb31{margin-bottom:31px;}
.mb32{margin-bottom:32px;}
.mb33{margin-bottom:33px;}
.mb34{margin-bottom:34px;}
.mb35{margin-bottom:35px;}
.mb36{margin-bottom:36px;}
.mb37{margin-bottom:37px;}
.mb38{margin-bottom:38px;}
.mb39{margin-bottom:39px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.mb53{margin-bottom:53px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}
.mb65{margin-bottom:65px;}
.mb70{margin-bottom:70px;}
.mb75{margin-bottom:75px;}
.mb80{margin-bottom:80px;}
.mb85{margin-bottom:85px;}
.mb90{margin-bottom:90px;}
.mb95{margin-bottom:95px;}
.mb100{margin-bottom:100px;}

.mr0{margin-right:0;}
.mr6{margin-right:6px;}
.mr7{margin-right:7px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr15{margin-right:15px;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt18{margin-top:18px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt200{margin-top:200px;}


.ml50{margin-left:50px;}
.ml30{margin-left:30px;}
.ml28{margin-left:28px;}
.ml20{margin-left:20px;}
.ml19{margin-left:19px;}
.ml18{margin-left:18px;}
.ml11{margin-left:11px;}
.ml10{margin-left:10px;}
.ml9{margin-left:9px;}
.ml7{margin-left:7px;}
.ml5{margin-left:5px;}
.ml2{margin-left:2px;}
.ml1{margin-left:1px;}

.pd0{padding: 0;}


/*display*/
.none{display: none;}
.table{display: table;}
.cell{display: table-cell;}
.row{display: table-row;}

/*font*/
.fc_blue{color: #04a6ec;}
.fc_red{color: #fb2704;}
.fc_green{color: #31d231;}
.fc_yellow{color: #ffcc00;}
.fc_666{color: #666666;}

.fs_13{font-size: 13px;}
.bold{font-weight: 700;}

/*btn*/
.btn_navy{background-color: #2c3549; color: #fff; padding: 5px 10px; border: 1px solid #2c3549;}
.btn_navy2{background-color: #fff; color: #2c3549; padding: 5px 10px; border: 1px solid #2c3549;}
.btn_sky{background-color: #04a6ec; color: #fff; padding: 5px 10px; border: 1px solid #04a6ec;}
.btn_sky2{background-color: #fff; color: #04a6ec; padding: 5px 10px; border: 1px solid #04a6ec;}
.btn_gray{background-color: #454545; color: #fff; padding: 5px 10px; border: 1px solid #454545;}
.btn_white{background-color: transparent; color: #666; padding: 5px 10px; border: 1px solid #ccc;}
.refresh{text-indent: -9999px; font-size: 1px; width: 20px; height: 20px; background: url("../images/common/refresh.png")no-repeat center center; border: 0; position: absolute; top: 200; right: 0;}
.btn_go{width: 100%; border: 1px solid #0096ff; display: inline-block; padding: 10px; color: #0096ff !important; font-size: 0.875rem; text-decoration: none; background: url("../images/common/btn_go.jpg")no-repeat 210px center; padding-right:20px;}

/*input*/
.input01{padding: 5px 10px; border: 1px solid #ddd; border-radius: 3px; height: 35px; font-size: 0.938em; color: #333;}

/*checkbox*/
.checkbox { position: relative; top:0px;; margin: 0 10px 0 0; cursor: pointer;}
.checkbox:before { -webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;  content: "";  position: absolute;  left: 0;top: -3px;  z-index: 1;  width: 15px;  height: 15px;  border: 1px solid #ddd;; border-radius: 3px;}
.checkbox:checked:before { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);border-radius: 0; height: .5rem;  border-color: #04a6ec;  border-top-style: none;  border-right-style: none;}
.checkbox:after { content: ""; position: absolute; top: -0.125rem; left: 0; width: 1.1rem; height: 1.1rem; background-color:#fff; cursor: pointer;}
.chk_label{vertical-align: middle; cursor: pointer; padding: 0 10px; color: #333;}

/*radio*/
.radio {position: relative;display: inline-block; vertical-align: middle; padding: 0 10px;} 
.radio input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.radio input[type="radio"] + label { display: inline-block; position: relative; padding-left: 25px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; vertical-align: middle; font-size: 0.938rem; color: #333;} 
.radio input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: 5px; width: 15px; height: 15px; text-align: center; background: #fff; border: 1px solid #ddd; border-radius: 100%; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); } 
.radio input[type="radio"] + label:active:before, 
.radio input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
.radio input[type="radio"]:checked + label:before { background: #E9ECEE; border-color: #cacece; } 
.radio input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 9px; left: 4px; width: 9px; height: 9px; background: #04a6ec; border-radius: 100%;}

/*select*/
.select{width: 100%; height: 35px; line-height: 35px;padding: 0 10px; font-size: 0.875rem; color: #000; border: 1px solid #dcdcdc;   -webkit-appearance: none;  -moz-appearance: none;  appearance: none; background: url("../images/common/select_arrow.png")no-repeat; background-position: center right 15px;}
.select::-ms-expand { display: none;}



/* width */
.w380 {width: 380px;}
.w780 {width: 780px;}


/*body*/
html, body{height:100%;}
#wrap{padding: 80px 20px 20px 320px;background-color: #f7f7f7; min-width: 1200px;}
#header,
#container,
#footer{width: 100%;}


/*header*/
#header{width: 100%;min-width: 1200px; z-index: 6; position: fixed; top: 0; left: 0; height: 60px; background-color: #fff;-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);}
#header h1{padding:0 20px 10px; font-size: 1.625rem;  font-weight: 400; line-height: 50px;}
#header h1 a img{width: 180px; margin-right: 20px;}

#header .right {padding: 0 20px;}
#header .right ul{height: 60px;}
#header .right ul li{display: inline-block; vertical-align: middle; line-height: 55px; padding: 0 10px;}
#header .right ul li a{color: #233444; font-size: 0.875rem; text-decoration: none; position: relative;width: 100%;}
#header .right ul li a:before{content: ''; position: absolute; top: 6px; left: 0; width: 120%; height: 10px; border-right: 1px solid #ddd;}
#header .right ul li:first-child a:before,
#header .right ul li:last-child a:before{border-right: 0;}
#header .right ul li.info{padding-right: 20px;}
#header .right ul li.info a{font-size: 0.785rem; position: relative; }
#header .right ul li.info a:before{left: 10px}
#header .right ul li.info a:after{content: ''; position: absolute; top: 0; left: -8px; width: 50px; height: 20px; border-radius: 30px; background-color: #c9c9c9; z-index: -10;}


/*container*/
#container{width: 100%; height: 100%;}

#container .gnb{z-index: 3; position: fixed; top: 0; left: 0; width: 300px; height: 100%; padding: 60px 0 0; background-color: #233444;}
#container .gnb .menu > li{height: auto; line-height: 50px; border-bottom: 1px solid #696969;}
#container .gnb .menu > li > a{color: #fff; display: block;padding: 0 20px; text-decoration: none; background: url("../images/common/gnb_arrow01.png")no-repeat right 20px center;}
#container .gnb .menu > li > a.on{color: #fff; background: url("../images/common/gnb_arrow02.png")no-repeat right 20px center;position: relative;}
#container .gnb .menu > li > a.on:before{content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0;background: rgba(52,52,52,0.5); z-index: -10;}
#container .gnb .menu > li > a.on:after{content: ''; position: absolute; width: 100%; height: 100%;top: 0; left: 0; background: url("../images/common/gnb_menu_on.png")no-repeat right center;}
#container .gnb .menu .lnb{display: none; width: 100%; background: rgba(102,102,102,.3); padding: 10px 0;}
#container .gnb .menu .lnb > li{height: 40px; line-height: 35px; padding: 0 40px;}
#container .gnb .menu .lnb > li > a{color: #dedede; font-size: 0.785rem; display: block;}
#container .gnb .menu .lnb > li > a:hover,
#container .gnb .menu .lnb > li > a:focus{color: #0fb7ff; text-decoration: none;}

#container .content{height: 100%;}
.admin_box{border: 1px solid #ccc;background-color: #fff;}
.admin_box .top{position: relative;background-color: #f2f2f2; padding: 20px;}
.admin_box h3.admin_tit{font-size: 1.125rem; color: #333; font-weight: 500;display: inline-block;}
.admin_box .top .refresh{right: 20px;}
.admin_box .box_cont{padding: 20px; background-color: #fff;}


/*footer*/
footer{width: 100%; }


