<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>03-08</title>
<style>
    #list  { width: 400px; border:1px solid black; border-collapse:collapse; }
    #list td, #list th { border:1px solid black;  text-align:center; }
    #list > thead > tr { color:yellow; background-color: purple; }
</style>
</head>
<body>
    <div id="example">
        <p>
        이름 : <input type="text" v-model="name" placeholder="두글자 이상을 입력하세요" />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts" >
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        <div v-show="isProcessing === true">조회중</div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script type="text/javascript">
var vm = new Vue({
    el : '#example',
    data : {
        name : "",
        isProcessing : false,
        contactlist : []
    },
    watch : {
    	// 모델 데이터가 입력이 되는 순간.. watch에 지정된 함수 호출..
        name : function(val) {
        	/// 글자가 2글자 이상일 때..
            if (val.length >= 2) {
            	// this:Vue인스턴스 객체의 소속하위에 모델/methods를 호출할 수 있다.
                this.fetchContacts();
            } else {
                this.contactlist = [];
            }
        }
    },
    methods : {
    	// watch에 name을 입력할 때, this.fetchContacts()에
    	// 1.  _.debounce(함수,1/1000) : 해당 초시간동안에 이벤트나 호출 처리를
    	//     지연시켜서 부하를 줄여준다.
    	//     underscore.js에서 지원하는 함수
        fetchContacts : _.debounce(function() {
            this.contactlist = [];
            this.isProcessing = true;
            var url = "http://sample.bmaster.kro.kr/contacts_long/search/"
                 + this.name;
            var vm = this;
            // 2. fetch.js에 있는 ajax 처리 메서드..
            //  	1) fetch("접속할 서버주소").then(함수1).then(함수2).catch(함수3)
    		//      2) 함수1 : function(response){}
    		//         해당 서버에 접속 후, 반응 값을 가지고, 처리하는 내용을 기술한다.
    		//         일반적으로 ajax처리는 json데이터를 마지막 다음 함수에 전달한다.
    		//         return response.json
    		//      3) 함수2 : function(json){}
    		//         promise형태의 내용을 함수1에서 response.json를 json받아서
    		//         실제 vue의 모델데이터를 할당할 때, 활용된다.
            fetch(url)
                .then(function(response) {
                	console.log("## ajax 반응 객체 ##");
                	console.log(response);
                	console.log("## 첫번째 함수에서 다음 함수로 전달하는 json데이터 ##");
                	//console.log(response.json());               	
                    return response.json()
                }).then(function(json) {
                	console.log("## 두번째 함수 ##");
                	console.log(json);
                    vm.contactlist = json;
                    vm.isProcessing = false;
                }).catch(function(ex) {
                    console.log('parsing failed', ex);
                    vm.contactlist = [];
                    vm.isProcessing = false;
                })

        }, 300)
    }
})
</script>
</body>
</html>
