<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<mapper namespace="springweb.a03_data.dao.A05_BookDao">
	<resultMap type="book" id="bookMap"/>
	<select id="blist" 
		resultMap="bookMap">
		SELECT * FROM book2
	</select>	
	<insert id="insertBook" parameterType="book">
		INSERT INTO book2 values(#{recid},#{name},
		#{author},#{publisher},#{price},#{point})
	</insert>
	<!--  updateBook(Book update) -->
	<update id="updateBook" parameterType="book">
		UPDATE book2
		   SET name = #{name},
		       author = #{author},
		       publisher = #{publisher},
		       price = #{price},
		       point = #{point}
		 WHERE recid = #{recid}     
	</update>
	<!--  deleteBook(int recid) -->
	<delete id="deleteBook" parameterType="int">
		DELETE FROM book2
		WHERE recid = #{recid}
	</delete>
</mapper>	









