<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
<script type="text/javascript">
/*
# v-for 반복 랜더링 처리.
1. v-for="단위데이터 in 배열모델" 을 통해서 배열의 데이터를
	반복적은 tag(요소)객체와 함께 출력할 수 있다..
 
 */
	$(document).ready(function(){
 		var vm = new Vue({
 			el:"#container",
 			data:{msg:"반복문처리1(단순배열)",
 				rainbow:["red","orange","yellow","green",
 					     "blue","navy","purple"]	
 			}
 		});
 /*
 
 */		
	});
</script>		
</head>
<body>
	<div id="container">
		<h1>{{msg}}</h1> 
		<h2 v-for="color in rainbow" 
			v-bind:style="{backgroundColor:color}">{{color}}</h2>
		<!-- 
		rainbow 배열 모델의 단위 데이터를 color로 할당하여 반복 처리한다.
		color변수에는 색상 정보를 문자열로 가지고 있고, {{color}}를 통해서,
		tag를 반복하며 출력하고, :style 속성으로 설정하여 배경색상의 속성을 color라는
		단위 변수로 할당하여 출력한다.
		
		
		 -->	
			
			
	</div>
</body>
</html>