<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script type="text/javascript">
    	$(document).ready(function(){
	    	$("h1:eq(0)").text("디렉티브");
	    	// 1. 뷰 인스턴스 객체 생성.
			// 2. 속성 : 
			//    1) 대상 DOM 객체 : el
			//    2) 모델 데이터 : data
			
	    	var vm = new Vue({
	    		el: "#container",
	    		data: {
	    			name: "홍길동",
	    			age: 25,
	    			loc: "서울 신림동",
	    			show: "<h2>반가워요...</h2>",
	    			// fruits: ["사과", "바나나", "딸기"]
	    			fruits: [
	    				{name: "사과", price: 3000},
	    				{name: "바나나", price: 4000},
	    				{name: "딸기", price: 5000}
	    				]
	    		}
	    	});
	    	
	    	// {{모델키}} : mustache 형식의 directive 선언..
			// <태그  v-html="모델명"></태그> 출력할 내용을 html 랜더링
			//     처리로 나타나게 하는 것..
			// <input v-model="모델명"> :양방향으로 모델데이터와 매핑하여
			//     처리할 때, 활용된다..
			// <반복할 태그 v-for="(단위객체, index) in 배열모델">
			// <template v-for="(단위객체, index) in 배열모델">
			//     {{단위객체}} 반복 처리
    	});
    </script>
</head>

<body>
	<div id="container">
		<h1></h1> 
		<h3>이름:{{name}}</h3> <!-- data 속성으로 선언한 모델명 -->
		<h3>나이:{{age}}</h3> <!-- data 속성으로 선언한 모델명 -->
		<h3>사는 곳:{{loc}}</h3> <!-- data 속성으로 선언한 모델명 -->
		
		<div>{{show}}</div>
		<div v-html="show"></div>
		입력한 v-model 데이터 : <input v-model="show" />
		<h2>좋아 하는 과일명</h2>
		<h3 v-for="(fru, idx) in fruits">
		    <!-- >{{idx +1}} - {{fru}} -->
		    {{idx +1}} - {{fru.name}} - {{fru.price}}
		</h3>
		
	</div>
</body>
</html>