<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.databiz.mapper.MstMapper">

	<select id="getMst030" resultType="kr.or.databiz.vo.Mst030VO">
		SELECT * FROM mst030 WHERE code = #{code}
	</select>
	
	<select id="listMst030" resultType="kr.or.databiz.vo.Mst030VO">
	<![CDATA[
		SELECT * FROM mst030
		WHERE
		<if test="sCode != null">
			code < #{sCode}
		</if>
		<if test="eCode != null">
			code < #{eCode}
		</if>
			 
		ORDER  BY code asc
	]]>
	</select>
	
</mapper>